input {
    font-size: $p;
    color: $font-color1;
    height: $lineHeight;
    line-height: $lineHeight;
    border: 1px solid $primary;
    width: 100%;
    display: block;
    box-sizing: border-box
}
.ipt-info{
    border-color: $info;
}
.ipt-third{
    border-color: $third-color; 
}

button {
    font-size: $p;
    color: $font-color-select;
    height: $lineHeight;
    line-height: $lineHeight;
    display: block;
    background: $primary;
    padding: 0px $padding;
    outline: none;
    border: none;
    border-radius: $radius;
}
.btn-info{
    background: $info;
}
.btn-third{
    background: $third-color; 
}