body {
  background-color: white;
  position: relative;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.head-layer ul li a {
  text-decoration: none;
}
.head-layer #myUl {
  position: absolute;
  width: 118px;
  height: 100px;
  right: 276px;
  top: 22px;
}
.main {
  width: 1100px;
  height: 520px;
  margin: 0 auto;
  border: 1px solid #bebebe;
  margin-top: 20px;
}
.main .main-left {
  width: 20%;
  height: 518px;
  float: left;
  background: #f3f3f3;
}
.main .main-left ul {
  list-style: none;
  text-align: center;
  padding-top: 22px;
}
.main .main-left ul li {
  line-height: 30px;
}
.main .main-left ul li a {
  font-size: 14px;
  color: #666;
  margin-left: 15px;
  text-decoration: none;
}
.main .main-left ul li a:hover {
  color: blue;
}
.main .main-right {
  width: 75%;
  float: left;
  padding: 25px 25px 10px 25px;
  background-color: white;
}
.main .main-right .right-head ul {
  list-style: none;
  border-bottom: 2px solid #bebebe;
}
.main .main-right .right-head ul li {
  float: left;
  height: 29.81px;
}
.main .main-right .right-head ul li a {
  color: #666;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
}
.main .main-right .right-head ul .active {
  border-bottom: 2px solid blue;
  color: blue;
}
.main .main-right .right-main {
  padding-top: 25px;
}
.main .main-right .right-main .right-main-left {
  float: left;
  width: 100px;
  height: 110px;
}
.main .main-right .right-main .right-main-left .img {
  width: 100px;
  height: 100px;
}
.main .main-right .right-main .right-main-left .img img {
  width: 100%;
  height: 100%;
}
.main .main-right .right-main .right-main-left .chang-img {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.main .main-right .right-main .right-main-left .chang-img a {
  text-decoration: none;
  color: blue;
}
.main .main-right .right-main .right-main-left label {
  margin-left: 20px;
  position: relative;
}
.main .main-right .right-main .right-main-left label #fileinp {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.main .main-right .right-main .right-main-left label #btn {
  margin-right: 5px;
}
.main .main-right .right-main .right-main-right {
  float: left;
  margin-left: 50px;
  width: 75%;
}
.main .main-right .right-main .right-main-right p {
  font-size: 14px;
  padding-bottom: 12px;
}
.main .main-right .right-main .right-main-right p span {
  margin-left: 20px;
}
.main .main-right .right-main .right-main-right p span a {
  text-decoration: none;
  color: blue;
}
.main .main-right .right-main .right-main-right .p11 {
  display: none;
}
.main .main-right .right-foot .panel-heading .head {
  float: left;
}
.main .main-right .right-foot .panel-heading .body {
  float: left;
  margin-left: 93px;
}
.main .main-right .right-foot .panel-heading .footer,
.main .main-right .right-foot .panel-heading footer2 {
  float: right;
}
.main .main-right .right-foot .panel-heading .footer a,
.main .main-right .right-foot .panel-heading footer2 a {
  text-decoration: none;
  color: blue ;
}
.main .main-right .right-foot .panel-heading .footer2 {
  display: none;
}
.main .main-right .right-foot .panel-body .head {
  float: left;
}
.main .main-right .right-foot .panel-body .body {
  float: left;
  margin-left: 93px;
}
.main .main-right .right-foot .panel-body .footer {
  float: right;
}
.main .main-right .right-foot .panel-body .footer a {
  text-decoration: none;
  color: blue ;
}
.main .main-right .right-foot .panel-body .footer2 {
  display: none;
}
.cover {
  width: 1100px;
  height: 540px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 64px;
  left: 63px;
  display: none;
}
.login-tips {
  width: 300px;
  height: 150px;
  background-color: white;
  border: 1px solid blue;
  position: absolute;
  top: 161px;
  left: 498px;
  display: none;
}
.login-tips .no-login {
  font-size: 24px;
  color: #333;
  margin-top: 30px;
  text-align: center;
}
.login-tips div {
  text-align: center;
  width: 67px;
  margin: 30px auto;
  height: 31px;
  line-height: 31px;
  border: 1px solid blue;
  background-color: gainsboro;
}
.login-tips div a {
  text-decoration: none;
  color: #333;
}
.pay {
  display: none;
  position: absolute;
  background-color: white;
}
.pay .content {
  width: 716px;
  height: 545px;
  margin: 0 auto;
}
.pay .content .head {
  height: 38px;
  background-color: #444;
  color: #f3f3f3;
  line-height: 38px;
}
.pay .content .head h5 {
  float: left;
}
.pay .content .head a {
  float: right;
  margin-right: 8px;
  color: #f3f3f3;
  text-decoration: none;
}
.pay .content .head a:hover {
  color: red;
  text-decoration: none;
}
.pay .content .banner {
  height: 100px;
  background-color: #333;
  border: 1px #333 solid;
  border-bottom: 2px solid gold;
}
.pay .content .banner .right {
  float: left;
  margin-left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  margin-top: 20px;
}
.pay .content .banner .right img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pay .content .banner .left {
  float: left;
  color: gold;
  margin: 27px 0 0 20px;
}
.pay .content .banner .left .p2 {
  color: #bebebe;
}
.pay .content .choose {
  display: flex;
  justify-content: space-evenly;
  margin-top: 18px;
}
.pay .content .choose .ch {
  width: 200px;
  height: 100px;
  border: 1px solid #bebebe;
}
.pay .content .choose .ch .time {
  margin: 10px 0 2px 0;
  text-align: center;
  font-size: 15px;
}
.pay .content .choose .ch .money {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.pay .content .choose .ch .money span {
  font-size: 13px;
  text-decoration: line-through;
  color: grey;
}
.pay .content .choose .ch .next-pay {
  width: 120px;
  border: 1px solid burlywood;
  text-align: center;
  margin: 0 auto;
  border-radius: 17px;
}
.pay .content .choose .active {
  width: 200px;
  height: 100px;
  background-color: wheat;
  border: 1px solid goldenrod;
}
.pay .content .tips {
  margin-left: 27px;
  line-height: 59px;
  font-size: 12px;
}
.pay .content .pay-money {
  width: 662px;
  height: 218px;
  border: 1px solid #bebebe;
  margin: 0 auto;
}
.pay .content .pay-money .left {
  float: left;
  width: 138px;
  background-color: #f3f3f3;
  height: 216px;
  padding: 1px;
}
.pay .content .pay-money .left .saoma {
  width: 128px;
  height: 40px;
  background-color: wheat;
  text-align: center;
  line-height: 40px;
  margin: 40px auto;
  border-radius: 0 20px 20px 0;
}
.pay .content .pay-money .right {
  float: left;
}
.pay .content .pay-money .right .r-top {
  position: relative;
  width: 522px;
  height: 43px;
  border-bottom: 1px solid #bebebe;
}
.pay .content .pay-money .right .r-top .ff {
  float: left;
  line-height: 43px ;
  margin-left: 8px;
  color: #bebebe;
}
.pay .content .pay-money .right .r-top .ff .gold {
  color: gold;
}
.pay .content .pay-money .right .r-top button {
  position: absolute;
  top: 8px;
  right: 8px;
}
.pay .content .pay-money .right .r-main {
  position: relative;
}
.pay .content .pay-money .right .r-main .erweima {
  position: absolute;
  top: 30px;
  left: 94px;
}
.pay .content .pay-money .right .r-main .last {
  position: absolute;
  top: 37px;
  left: 217px;
}
.pay .content .pay-money .right .r-main .last .total {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
}
.pay .content .pay-money .right .r-main .last .total span {
  color: coral;
  font-size: 13px;
  margin-left: 6px;
}
.pay .content .pay-money .right .r-main .last .p2 {
  line-height: 29px;
  margin-left: 6px;
}
