<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>商品添加页面</h2>
    <form action="" method="post">
        <div>名称: <input type="text" name="pname"></div>
        <div>价格: <input type="text" name="pprice"></div>
        <div>库存: <input type="text" name="pcount"></div>
        <div>产地: <input type="text" name="paddress"></div>
        <div><input type="submit" value="添加商品"></div>
    </form>
    <div><%= message %></div>
</body>
</html>