.text-info {
    color: $info;
}

.text-default {
    color: $default;
}

.text-primary {
    color: $primary;
}
.text-black {
    color: $black;
}
.text-white {
    color: $white;
}
.h1{
    font-size: $h1    
}
.h2{
    font-size: $h2    
}
.h3{
    font-size: $h3    
}
.p{
    font-size: $p    
}