.el-select,.el-date-editor--date{
    width: 100%;
}
.btn-default{
    background: $default;
    border: 1px solid $default;    
}
.btn-default:hover{
    color: $white;
}
.btn-info{
    background: $info;
    border: 1px solid $info;    
}
.btn-primary{
    background: $primary !important;
    border: 1px solid $primary !important;    
}
.btn-black{
    background: $black;
    border: 1px solid $black;    
}
.btn-info:hover{
    color: $white;
}
.btn-primary:hover{
    color: $white;
}
.btn-black:hover{
    color: $white;
}

