<!doctype html>
<html>
    <head>
        <meta  charset="utf-8"/>
        <title>ejs</title>
    </head>
<body>
    <!-- test -->
    <div>
        name:<%=  name %>
    </div>
    <div>
        <% for(let i  in  info){ %>
            id:<%= info[i].id %>  --name:<%= info[i].name %>
        <%}%>
    </div>
</body>
</html>
